flows.json
[{"id":"4e9830f3.6b8c9","type":"tab","label":"Kafka Example","disabled":false,"info":""},{"id":"e9f20397.e6a1d","type":"tab","label":"HTTP Triggered Flow","disabled":false,"info":""},{"id":"c364b6f6.ae1b18","type":"Kafka Broker","z":"","name":"local kafka","hosts":[{"host":"127.0.0.1","port":9092}],"hostsEnvVar":"","connectTimeout":"10000","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":true,"usetls":false,"useCredentials":false},{"id":"a678263d.0311c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"de70901.29ac87","type":"Kafka Producer","z":"4e9830f3.6b8c9","name":"","broker":"c364b6f6.ae1b18","topic":"youtube","requireAcks":1,"ackTimeoutMs":100,"partitionerType":0,"key":"","partition":0,"attributes":0,"connectionType":"Producer","x":500,"y":100,"wires":[]},{"id":"8d39e287.e73a8","type":"inject","z":"4e9830f3.6b8c9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"again pllease","payloadType":"str","x":220,"y":120,"wires":[["de70901.29ac87"]]},{"id":"dafbd6b4.6fff18","type":"debug","z":"4e9830f3.6b8c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":320,"wires":[]},{"id":"f96a9b5d.579ed8","type":"Kafka Consumer","z":"4e9830f3.6b8c9","name":"","broker":"c364b6f6.ae1b18","topics":[{"topic":"youtube","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","x":270,"y":360,"wires":[["dafbd6b4.6fff18"]]},{"id":"c4ebc2dd.890c9","type":"http in","z":"e9f20397.e6a1d","name":"","url":"/fullstack","method":"get","upload":false,"swaggerDoc":"","x":310,"y":220,"wires":[["f2d7e7bf.a988a8"]]},{"id":"f2d7e7bf.a988a8","type":"template","z":"e9f20397.e6a1d","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>We have trriggered the HTTP Triggered Flow using an HTTP endpoint</h1>\n    </body>\n</html>","x":450,"y":220,"wires":[["50369ecc.c50a7"]]},{"id":"50369ecc.c50a7","type":"http response","z":"e9f20397.e6a1d","name":"","x":590,"y":220,"wires":[]}]